<div class="container">
  <form action="/notes/new" method="post">
    <input type="text" name="note[title]" placeholder="Title"/><br/>
    <textarea name="note[content]" placeholder="Content"></textarea><br/>
    <input type="submit" value="Save"/>
    <a href="/">Cancel</a>
  </form>
</div>